body{
   display: flex;
   justify-content: center; 
   align-items: center;
   height: 100vh;
}

article{
    border: 1px solid black;
    /*width: 300px;
    height: 300px;*/
    max-width: 300px;
    padding: 15px;
}

