nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
    margin: 50px;
    margin-top: 15px;
}


li{
    padding: 15px;
}

.box{
    display: flex;
}

.push{
    display: flex;
}

article{
    display: flex;
    border: 1px solid black;
    width: auto;
    margin: 50px;
}