nav ul {
    list-style: none;
    display: grid;
    border: 1px solid aliceblue;
    border-radius: 50px;
    width: 70%;
    margin: 15px auto;
}


li {
    padding: 15px;
}

.box {
    display: grid;
    /* grid-template-columns: 1fr 1fr 3fr 1fr  1fr; sans le .push*/
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
}

.push {
    grid-column: 5 / span 1; /* OU 5 / 6 */
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    gap: 50px;
    width: 70%;
    margin: 0 auto;
    line-height: 45px;
}

body {
    color: aliceblue;
    background-color: darkslateblue;
}

img {
    border-radius: 9999px;
}