body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: justify;
    gap: 50px;
    width: 70%;
    margin: 0 auto;
}

.paragraph1 {
    grid-column: 1 / 2;
}

.paragraph2 {
    grid-column: 2 / span 2;
}

.paragraph3 {
    grid-column: 1 / span 2;
}

.paragraph4 {
    grid-column: 3 / 4;
}

