body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: justify;
    gap: 50px;
    margin: 0 auto;
    width: 80%;
    line-height: 25px;
}

.par0 {
    grid-column: 1 / 2;
}

.par1 {
    grid-column: 2 / 3;
}

.par2 {
    grid-area: 1 / 3 / span 2 /4;
    color:red;
}

.par3 {
    grid-column: 1 / span 2;
}

.par4 {
    grid-column: 1 / span 3;
}

.par5 {
    grid-column: 1 / 2;
}

.par6 {
    grid-column: 2 / 3;
}

.par7 {
    grid-column: 3 / 4;
}